.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 40rem;
    margin: 1.5rem;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 1.5rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.45);
}

.movieDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}

.voteAverage {
    background:#1083D6;
    padding: 0 1.5rem .2rem;
    border-radius: .8rem;
    margin: 0 5rem 0 0;
    text-align: center;
}

