html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fbfbfe;
    color: #697477;
    transition: 0.3s background ease;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: #fbfbfe;
}
body.dark-mode a {
    color: #2a3b47;
}

body.dark-mode {
    background: #192229;
    color: #dfdfdf;
}

body.dark-mode li {
    color: #dfdfdf;
}

header {
    background: #1083d6;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.45);
}
header .fijo {
    background: #1083d677;
    position: fixed;
    width: 100%;
}

body.dark-mode header {
    background: #52a5e0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.45);
}

strong {
    color: #111;
}

body.dark-mode strong {
    color: #fff;
}
